html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/bg.webp') no-repeat center center/cover;
    filter: brightness(65%);
    z-index: -1;
}

.header-custom {
    position: relative;
    padding-top: 35vh;
    color: #FFFFFF;
    z-index: 1;
}

.about-us-section, .facilities-section {
    background-color: #f8f9fa;
    color: #333;
    padding: 2rem 1rem;
}

.about-us-section h2, .facilities-section h2 {
    color: #0056b3;
}

.about-us-section h3, .facilities-section h3 {
    color: #007bff;
}

.about-us-section p, .facilities-section p {
    font-size: 16px;
    line-height: 1.6;
}

.facilities-section .col-md-6 {
    margin-bottom: 20px;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    width: 100%;
}
